
.table-main-div {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(129, 127, 2);
}
table {
    width: 90%;
    border: 1px solid black;
    position:absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}
table tr {
   margin-top: 10px;
}
table tr th {
    text-align: center;
    background-color: yellow;
}
table tr td {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}
table tr td {
    border:  1px solid black;
}
.update-btn {
    border: 1px solid black;
    width: 50%;
    padding: 4px 0px;
    border-radius: 3px;
    background-color: blue;
    color: white;
}
.update-btn:hover{
    background-color: green;
}
.del-btn{
    border: 1px solid black;
    width: 50%;
    padding: 4px 0px;
    border-radius: 3px;
    background-color: blue;
    color: white;

}
.del-btn:hover{
    background-color: green;
}
.add-new-btn {
position: absolute;
right: 0px;
top: -30px;
padding: 5px;
border-radius: 4px;
border: 1px solid black;
background-color: rgb(116, 94, 0);
color: white;
}
.add-new-btn:hover {
    background-color: green;
}